.p-stepper .p-stepper-header .p-stepper-action {
    transition: box-shadow 0.2s;
    border-radius: 6px;
    background: none;
    outline-color: transparent;
}

.p-stepper .p-stepper-header .p-stepper-action .p-stepper-number {
  color: #4b5563;
  border: 1px solid #f3f4f6;
  border-width: 2px;
  background: #ffffff;
  min-width: 3rem;
  height: 3rem;
  line-height: 2rem;
  font-size: 1.143rem;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-stepper .p-stepper-header.p-highlight .p-stepper-number {
  background: var(--primary-color) !important;
  color: #ffffff;
}

.p-stepper .p-stepper-panels {
  background: none !important;
  padding: 1.25rem;
  color: #4b5563;
}

